<li class="row module-group-item">
    <div class="col-xs-6">
        <a target="_self" href={{isI18n link}}>
            <img class="img-responsive" src="{{ img}}" />
        </a>
    </div>
    <div class="col-xs-6">
        <h2>{{i18n title}}</h2>
        {{i18n body}}
        <p>{{i18n body}}Monitoring of environmental indicators like rainfall, temperature, evapo-traspiration and
        vegetation to detect critical conditions for the agriculture and provide information on the
        are affected by severe water shortages that could potentially negatively affect the
        agricultural production.</p>
    </div>
</li>