<div>

    <section data-dashboard="resume">

        <div class="row">
            <div class="col-md-6">

                <span class="label label-default dash-title">{{ summary_geo_info }}</span>

                <div data-item="country-map-container" id="country-map-container"
                     style="	height: 400px; width: 100%;"></div>

            </div>
            <div class="col-md-6">

                <span class="label label-default dash-title">{{ summary_info }}</span>


                <ul class="main-information list-unstyled">

                    <li>
                        <span class="dash-info-ico icojam_government"></span>
                        <h4 class="dash-info-title">


                            {{capital_city_header}}
                        </h4>

                        <p>{{ capital_city }}</p>
                    </li>

                    <li>

                        <span class="dash-info-ico icojam_html_code"></span>
                        <h4 class="dash-info-title">
                            {{GAUL_code_text}}
                        </h4>

                        <p>{{ gaul_code }}</p>
                    </li>

                    <li>

                        <span class="dash-info-ico icojam_wafer_3"></span>
                        <h4 class="dash-info-title">
                            {{area_sq}}
                        </h4>

                        <p>{{ area }}</p>
                    </li>

                    <li>
                        <span class="dash-info-ico icojam_moneys_3"></span>

                        <h4 class="dash-info-title">
                            {{currency_label}}
                        </h4>

                        <p>{{ currency }}</p>
                    </li>


                </ul>


            </div>

        </div>

    </section>

    <section data-dashboard="population">
        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="population1"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="population2"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="population3"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="population4"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="population5"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="population6"></div>
                </div>
            </div>
        </div>
    </section>

    <section data-dashboard="education">
        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="edu1"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="edu2"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="edu3"></div>
                </div>
            </div>
        </div>
    </section>

    <section data-dashboard="health">

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                     <div data-item="health1"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="health2"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="health3"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="health4"></div>
                </div>
            </div>
        </div>
    </section>

    <section data-dashboard="labour">
        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="labour1"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="labour2"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="labour3"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="labour4"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="labour5"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="labour6"></div>
                </div>
            </div>
        </div>
    </section>


    <!-- Economic statistics-->

    <section data-dashboard="gdp_constant">
    </section>

    <section data-dashboard="gdp_current">
    </section>

    <section data-dashboard="monetary_statistics">
        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="monetary1"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                  <div data-item="monetary2"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="monetary3"></div>
                </div>
            </div>
        </div>
    </section>

    <section data-dashboard="public_finance">
        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="finance1"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="finance2"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="finance3"></div>
                </div>
            </div>
        </div>
    </section>

    <section data-dashboard="balance_of_payments">
        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="BOP1"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="BOP2"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="BOP3"></div>
                </div>
            </div>
        </div>
    </section>


    <section data-dashboard="energy">

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="energy1"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="energy2"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="energy3"></div>
                </div>
            </div>
        </div>
    </section>

    <section data-dashboard="poverty">
        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                       <div data-item="poverty1"></div>
                </div>
            </div>
        </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="z-depth-1 hoverable dash-box">
                            <div data-item="poverty2"></div>
                        </div>
                    </div>
                </div>
    </section>


    <section data-dashboard="gdp">
        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="gdp1"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="gdp2"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="gdp3"></div>
                </div>
            </div>
        </div>
    </section>

    <section data-dashboard="expenditure_gdp">
            <div class="row">
            <div class="column">
                <div class="col-xs-6">
                    <div class="z-depth-1 hoverable dash-box">
                        <div data-item="expenditure1"></div>
                        <p>{{current_title}}</p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="col-xs-6">
                    <div class="z-depth-1 hoverable dash-box">
                        <div data-item="expenditure5"></div>
                        <p>{{constant_title}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="col-xs-6">
                    <div class="z-depth-1 hoverable dash-box">
                        <div data-item="expenditure2"></div>
                        <p>{{current_title}}</p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="col-xs-6">
                    <div class="z-depth-1 hoverable dash-box">
                        <div data-item="expenditure6"></div>
                        <p>{{constant_title}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <div class="col-xs-6">
                    <div class="z-depth-1 hoverable dash-box">
                        <div data-item="expenditure3"></div>
                        <p>{{current_title}}</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="col-xs-6">
                    <div class="z-depth-1 hoverable dash-box">
                        <div data-item="expenditure7"></div>
                        <p>{{constant_title}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <div class="col-xs-6">
                    <div class="z-depth-1 hoverable dash-box">
                        <div data-item="expenditure4"></div>
                        <p>{{current_title}}</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="col-xs-6">
                    <div class="z-depth-1 hoverable dash-box">
                        <div data-item="expenditure8"></div>
                        <p>{{constant_title}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section data-dashboard="imports">
    </section>


    <section data-dashboard="financial_flows">
        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="financial_flows1"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="financial_flows2"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div class="obj-box">
                        <div data-item="financial_flows3" style="height:400px"></div>
                        <p>{{financial_flows_note1}}</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="financial_flows4" style="height:400px"></div>
                </div>
            </div>
        </div>
    </section>

    <section data-dashboard="debt">
        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="debt1"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="debt2"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="debt3"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Environment and multi-Domain statistics-->
    <section data-dashboard="infrastructure">
        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div id="infrastructure1"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div id="infrastructure2"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div id="infrastructure3"></div>
                </div>
            </div>
        </div>
    </section>

    <section data-dashboard="inflation">
        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="inflation1"></div>
                </div>
            </div>
        </div>
    </section>

    <section data-dashboard="tourism">
        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="tourism1"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="tourism2"></div>
                </div>
            </div>
        </div>
    </section>

    <section data-dashboard="agriculture_production">
        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div id="agriculture_production1"></div>
                </div>
            </div>
        </div>
    </section>

    <section data-dashboard="mining_production">
        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div id="mining_production1"></div>
                </div>
            </div>
        </div>
    </section>
</div>