<div>

    <section data-dashboard="resume">

        <div class="row">
            <div class="col-xs-12">

                <div id="country-map-container" style="	height: 400px; width: 100%;">

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">


                <h1 class="info-title">MAIN INFORMATION</h1>


                <ul class="main-information list-inline list-unstyled">

                    <li>
                        <h4 class="label">
                            <!--<span class="fx-widget-icons icojam_ancient_building"></span>-->
                            Capital City
                        </h4>

                        <p>{{ capital_city }}</p>
                    </li>

                    <li>
                        <h4 class="label">
                            GAUL code
                        </h4>

                        <p>{{ gaul_code }}</p>
                    </li>

                    <li>
                        <h4 class="label">
                            Area in sq. km
                        </h4>

                        <p>{{ area }}</p>
                    </li>

                    <li>
                        <h4 class="label">
                            Currency
                        </h4>

                        <p>{{ currency }}</p>
                    </li>


                </ul>


            </div>
        </div>

    </section>

    <section data-dashboard="population">

        <div class="row">
            <div class="col-xs-12">

                <div class="z-depth-1 hoverable dash-box">
                    <h2> {{population1_title}} </h2>

                    <div data-item="population1"></div>


                </div>


            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <div class="z-depth-1 hoverable dash-box">

                    <h2>{{population2_title}}</h2>

                    <div data-item="population2" style="height:400px"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <div class="z-depth-1 hoverable dash-box">

                    <h2>{{population3_title}}</h2>

                    <div data-item="population3" style="height:400px"></div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h2>{{population4_title}}</h2>

                    <div data-item="population4" style="height:400px"></div>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h2>{{population5_title}}</h2>

                    <div data-item="population5" style="height:400px"></div>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h2>{{population6_title}}</h2>

                    <div data-item="population6"></div>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h2>{{population7_title}}</h2>

                    <div data-item="population7" style="height:400px"></div>

                </div>

            </div>
        </div>
    </section>

    <section data-dashboard="education">


        <div class="row">
            <div class="col-xs-12">

                <div class="z-depth-1 hoverable dash-box">

                    <h2>{{edu1_title_domain}}</h2>

                    <div data-item="edu_1" style="height:400px"></div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h2>{{edu3_title}}</h2>

                    <div data-item="edu_2"></div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h2>{{edu3_title_domain}}</h2>

                    <div data-item="edu_3" style="height:400px"></div>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <div class="z-depth-1 hoverable dash-box">
                    <h2>{{edu2_title}}</h2>

                    <div data-item="edu_4"></div>
                </div>
            </div>
        </div>


    </section>

    <section data-dashboard="health">

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h2>{{health1_title}}</h2>

                    <div data-item="health-1"></div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <div class="z-depth-1 hoverable dash-box">

                    <h2>{{health2_title}}</h2>

                    <div data-item="health-2" style="height:400px"></div>

                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h2>{{health3_title}}</h2>

                    <div data-item="health-3" style="height:400px"></div>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h2>{{health4_title}}</h2>

                    <div data-item="health-4" style="height:400px"></div>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h2>{{health5_title}}</h2>

                    <div data-item="health-5" style="height:400px"></div>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h2>{{health6_title}}</h2>

                    <div data-item="health-6" style="height:400px"></div>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h2>{{health7_title}}</h2>

                    <div data-item="health-7" style="height:400px"></div>

                </div>

            </div>
        </div>


    </section>


    <section data-dashboard="labour">


        <!--<div class="row">-->
        <!--<div class="col-xs-12">-->
        <!--<h1>{{labour2_title}}</h1>-->

        <!--<div data-item="labour-2"></div>-->
        <!--</div>-->

        <!--</div>-->


        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h1>{{labour3_title}}</h1>

                    <div data-item="labour-3"></div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <div class="z-depth-1 hoverable dash-box">

                    <h2>{{labour4_title_domain}}</h2>

                    <div data-item="labour-4"></div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">

                <div class="z-depth-1 hoverable dash-box">
                    <h2>{{labour5_title}}</h2>

                    <div data-item="labour-5" style="height:400px"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <div class="z-depth-1 hoverable dash-box">
                    <h2>{{labour6_title}}</h2>

                    <div data-item="labour-6"></div>
                </div>
            </div>
        </div>


    </section>


    <!-- Economic statistics-->

    <section data-dashboard="balance_of_payments">

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h2>{{ BOP1_title}}</h2>

                    <div data-item="BOP-1" style="height:400px"></div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h2>{{BOP2_title}}</h2>

                    <div data-item="BOP-2"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h2>{{BOP3_title}}</h2>

                    <div data-item="BOP-3" style="height:400px"></div>
                </div>
            </div>
        </div>

    </section>


    <section data-dashboard="gdp">


        <div class="row">
            <div class="col-xs-12">
                <h1>{{gdp1_title}} </h1>

                <div data-item="gdp-1" style="height:400px"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h1>{{gdp2_title}}</h1>

                    <div data-item="gdp-2" style="height:400px"></div>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h1>{{gdp3_title}}</h1>

                    <div data-item="gdp-3" style="height:400px"></div>

                </div>

            </div>
        </div>


    </section>


    <section data-dashboard="monetary_statistics">


        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h1>{{monetary1_title}}</h1>

                    <div data-item="monetary-1" style="height:400px"></div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <h1>{{monetary2_title}}</h1>

                    <div data-item="monetary-2" style="height:400px"></div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h1>{{monetary3_title}}</h1>

                    <div data-item="monetary-3" style="height:400px"></div>

                </div>
            </div>
        </div>


    </section>

    <section data-dashboard="public_finance">

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h1>{{finance1_title}}</h1>

                    <div data-item="finance-1"></div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h1>{{finance2_title}}</h1>

                    <div data-item="finance-2"></div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <div class="z-depth-1 hoverable dash-box">
                    <h1>{{finance3_title}}</h1>
                    <div data-item="finance-3"></div>

                </div>
            </div>
        </div>


    </section>


    <section data-dashboard="energy">

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h1>Production of electricity</h1>

                    <div data-item="energy-1"></div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Production of electricity</h1>

                <div data-item="energy-2"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <div class="z-depth-1 hoverable dash-box">
                    <h1>Production of electricity</h1>

                    <div data-item="energy-3"></div>

                </div>
            </div>
        </div>


    </section>

    <section data-dashboard="poverty">
        <div class="column">
            <div class="col-xs-12">


                <div class="z-depth-1 hoverable dash-box">
                    <h1>Gini index</h1>

                    <div data-item="poverty-1" style="height:400px"></div>

                </div>
            </div>
        </div>

        <div class="column">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h1>GNI Per Capita (US$)</h1>

                    <div data-item="poverty-2"></div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <div class="z-depth-1 hoverable dash-box">
                    <h1>Population below $2 (PPP) per day</h1>

                    <div data-item="poverty-3"></div>

                </div>
            </div>
        </div>
    </section>


    <section data-dashboard="expenditure_gdp">
        <h1>General governement final consumption expenditure</h1>

        <div class="row">
            <div class="column">
                <div class="col-xs-6">
                    <div class="z-depth-1 hoverable dash-box">

                        <div data-item="expenditure-1"></div>

                        <p>Current prices</p>

                    </div>
                </div>
            </div>


            <div class="column">
                <div class="col-xs-6">

                    <div class="z-depth-1 hoverable dash-box">

                        <div data-item="expenditure-5"></div>
                        <p>Constant prices</p>

                    </div>
                </div>
            </div>
        </div>


        <h1>Individual consumption expenditure</h1>

        <div class="row">
            <div class="column">
                <div class="col-xs-6">

                    <div class="z-depth-1 hoverable dash-box">
                        <div data-item="expenditure-2"></div>

                        <p>Current prices</p>

                    </div>
                </div>
            </div>

            <div class="column">
                <div class="col-xs-6">

                    <div class="z-depth-1 hoverable dash-box">
                        <div data-item="expenditure-6"></div>
                        <p>Constant prices</p>

                    </div>
                </div>
            </div>
        </div>


        <h1>Gross fixed capital formation</h1>

        <div class="row">


            <div class="column">
                <div class="col-xs-6">

                    <div class="z-depth-1 hoverable dash-box">
                        <div data-item="expenditure-3"></div>

                        <p>Current prices</p>

                    </div>
                </div>
            </div>
            <div class="column">
                <div class="col-xs-6">
                    <div class="z-depth-1 hoverable dash-box">
                        <div data-item="expenditure-7"></div>
                        <p>Constant prices</p>

                    </div>
                </div>
            </div>

        </div>


        <h1>Changes in inventories</h1>

        <div class="row">
            <div class="column">
                <div class="col-xs-6">
                    <div class="z-depth-1 hoverable dash-box">
                        <div data-item="expenditure-4"></div>
                        <p>Current prices</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="col-xs-6">
                    <div class="z-depth-1 hoverable dash-box">

                        <div data-item="expenditure-8"></div>
                        <p>Constant prices</p>

                    </div>
                </div>
            </div>
        </div>


    </section>


    <section data-dashboard="imports">

    </section>


    <section data-dashboard="financial_flows">

        <div class="row">
            <div class="col-xs-12">

                <div class="z-depth-1 hoverable dash-box">
                    <h1>Net total official development assistance</h1>

                    <div data-item="financial_flows-1"></div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h1>Net foreign direct investment inflows</h1>

                    <div data-item="financial_flows-2"></div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <div class="z-depth-1 hoverable dash-box">
                    <h1>Distribution of net foreign direct investment inflows by country</h1>

                    <div class="obj-box">
                        <div data-item="financial_flows-3"></div>
                        <p>Note: Last year available (2012)</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h1>Net foreign direct investment inflows by year</h1>

                    <div data-item="financial_flows-4"></div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <div class="z-depth-1 hoverable dash-box">
                    <h1>Distribution of origin of FDI Inflows by country</h1>

                    <div class="obj-box">
                        <div data-item="financial_flows-5"></div>
                        <p>Note: Last year available (2012)</p>
                    </div>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <div class="z-depth-1 hoverable dash-box">
                    <h1>Origin of FDI Inflows by year</h1>

                    <div data-item="financial_flows-6"></div>

                </div>
            </div>
        </div>

    </section>

    <section data-dashboard="debt">

        <div class="row">
            <div class="col-xs-12">

                <div class="z-depth-1 hoverable dash-box">
                    <h1>Total government domestic debt</h1>

                    <div data-item="debt-1" style="height:400px"></div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h1>Total external debt</h1>

                    <div data-item="debt-2"></div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h1>Total external debt - Public/Private </h1>

                    <div data-item="debt-3"></div>
                </div>

            </div>
        </div>

    </section>

    <!-- Environment and multi-Domain statistics-->
    <section data-dashboard="infrastructure">

        <div class="row">
            <div class="col-xs-12">

                <div class="z-depth-1 hoverable dash-box">
                    <h1>Mobile-cellular subscriptions per 1000 inhabitants</h1>

                    <div data-item="infrastructure-1" style="height:400px"></div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h1>Paved roads, percentage of total network</h1>

                    <div data-item="infrastructure-2" style="height:400px"></div>

                </div>
            </div>
        </div>
    </section>

    <section data-dashboard="inflation">

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h1>{{inflation1_title}}</h1>

                    <div data-item="inflation-1"></div>

                </div>
            </div>
        </div>

       <!-- <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h1>Inflation, GDP deflator (annual%)</h1>

                    <div data-item="inflation-2"></div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h1>Inflation by kind of commodity</h1>

                    <div data-item="inflation-3"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h1>Inflation by kind of commodity</h1>

                    <div data-item="inflation-4"></div>

                </div>
            </div>
        </div>-->

    </section>

    <section data-dashboard="tourism">

        <div class="row">
            <div class="col-xs-12">

                <div class="z-depth-1 hoverable dash-box">
                    <h1>{{tourism1_title}}</h1>

                    <div data-item="tourism-1"></div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h1>{{tourism2_title}}</h1>

                    <div data-item="tourism-2"></div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h1>{{tourism3_title}}</h1>

                    <div data-item="tourism-3" style="height:400px"></div>

                </div>
            </div>
        </div>


    </section>

    <section data-dashboard="agriculture_production">

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">

                    <h1>Agriculture production</h1>

                    <div id="agriculture_production-1"></div>

                </div>
            </div>
        </div>


    </section>

    <section data-dashboard="mining_production">

        <div class="row">
            <div class="col-xs-12">

                <div class="z-depth-1 hoverable dash-box">
                    <h1>Mining production</h1>

                    <div id="mining_production-1"></div>

                </div>
            </div>
        </div>

    </section>

</div>