<div>

    <section data-dashboard="resume">

        <div class="row">
            <div class="col-xs-12">
                <div id="country-map-container" style="	height: 400px; width: 100%;">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <h1 class="info-title">MAIN INFORMATION</h1>
                <ul class="main-information list-inline list-unstyled">
                    <li>
                        <h4 class="label">
                            <!--<span class="fx-widget-icons icojam_ancient_building"></span>-->
                            Capital City
                        </h4>

                        <p>{{ capital_city }}</p>
                    </li>

                    <li>
                        <h4 class="label">
                            GAUL code
                        </h4>

                        <p>{{ gaul_code }}</p>
                    </li>

                    <li>
                        <h4 class="label">
                            Area in sq. km
                        </h4>

                        <p>{{ area }}</p>
                    </li>

                    <li>
                        <h4 class="label">
                            Currency
                        </h4>

                        <p>{{ currency }}</p>
                    </li>


                </ul>


            </div>
        </div>

    </section>

 <!-- Population-->
    <section data-dashboard="population">
        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="population1"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <h2>{{population2_title}}, {{maxYear}} ({{latestYear}})</h2>
                    <div data-item="population2" style="height:400px"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <h2>{{population3_title}}, {{maxYear}} ({{latestYear}})</h2>
                    <div data-item="population3" style="height:400px"></div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <h2>{{population4_title}}, {{maxYear}} ({{latestYear}})</h2>
                    <div data-item="population4" style="height:400px"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <h2>{{population5_title}}, {{maxYear}} ({{latestYear}})</h2>
                    <div data-item="population5" style="height:400px"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="population6"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <h2>{{population7_title}}, {{maxYear}} ({{latestYear}})</h2>
                    <div data-item="population7" style="height:400px"></div>
                </div>
            </div>
        </div>
    </section>

 <!-- Health-->
        <section data-dashboard="health">
            <div class="row">
                <div class="col-xs-12">
                    <div class="z-depth-1 hoverable dash-box">
                        <div data-item="health1"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="z-depth-1 hoverable dash-box">
                        <div data-item="health2" style="height:400px"></div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <div class="z-depth-1 hoverable dash-box">
                        <div data-item="health3" style="height:400px"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="z-depth-1 hoverable dash-box">
                        <h2>{{health4_title}}, {{maxYear}} ({{latestYear}})</h2>
                        <div data-item="health4" style="height:400px"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="z-depth-1 hoverable dash-box">
                        <h2>{{health5_title}}, {{maxYear}} ({{latestYear}})</h2>
                        <div data-item="health5" style="height:400px"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="z-depth-1 hoverable dash-box">
                        <div data-item="health6" style="height:400px"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="z-depth-1 hoverable dash-box">
                        <h2>{{health7_title}}, {{maxYear}} ({{latestYear}})</h2>
                        <div data-item="health7" style="height:400px"></div>
                    </div>
                </div>
            </div>
        </section>

            <!-- Balance of payments-->
            <section data-dashboard="balance_of_payments">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="z-depth-1 hoverable dash-box">
                            <div data-item="BOP1" style="height:400px"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="z-depth-1 hoverable dash-box">
                            <div data-item="BOP2"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="z-depth-1 hoverable dash-box">
                            <div data-item="BOP3" style="height:400px"></div>
                        </div>
                    </div>
                </div>
            </section>

                     <!-- GDP-->
                <section data-dashboard="gdp">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="z-depth-1 hoverable dash-box">
                                <div data-item="gdp1" style="height:400px"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="z-depth-1 hoverable dash-box">
                                <div data-item="gdp2" style="height:400px"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="z-depth-1 hoverable dash-box">
                                <div data-item="gdp3" style="height:400px"></div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Monetary Statistics-->
                    <section data-dashboard="monetary_statistics">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="z-depth-1 hoverable dash-box">
                                    <div data-item="monetary1" style="height:400px"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="z-depth-1 hoverable dash-box">
                                    <div data-item="monetary2" style="height:400px"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="z-depth-1 hoverable dash-box">
                                    <div data-item="monetary3" style="height:400px"></div>
                                </div>
                            </div>
                        </div>
                    </section>

 <!-- Public Finance-->
    <section data-dashboard="public_finance">

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="finance1"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="finance2"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="z-depth-1 hoverable dash-box">
                    <div data-item="finance3"></div>
                </div>
            </div>
        </div>
    </section>

     <!-- Inflation-->
    <section data-dashboard="inflation">
            <div class="row">
                <div class="col-xs-12">
                    <div class="z-depth-1 hoverable dash-box">
                        <div data-item="inflation1"></div>
                    </div>
                </div>
            </div>

           <!-- <div class="row">
                <div class="col-xs-12">
                    <div class="z-depth-1 hoverable dash-box">
                        <div data-item="inflation2"></div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <div class="z-depth-1 hoverable dash-box">
                        <div data-item="inflation3"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="z-depth-1 hoverable dash-box">
                                        <div data-item="inflation4"></div>
                    </div>
                </div>
            </div>-->

        </section>

        <!-- Tourism-->
            <section data-dashboard="tourism">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="z-depth-1 hoverable dash-box">
                            <div data-item="tourism1"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="z-depth-1 hoverable dash-box">
                            <div data-item="tourism2"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="z-depth-1 hoverable dash-box">
                            <h2>{{tourism3_title}}</h2>
                            <div data-item="tourism3" style="height:400px"></div>
                        </div>
                    </div>
                </div>
            </section>

                <!-- Infrastructure-->
                <section data-dashboard="infrastructure">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="z-depth-1 hoverable dash-box">
                                <h2>{{infrastructure1_title}}</h2>
                                <div data-item="infrastructure1" style="height:400px"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="z-depth-1 hoverable dash-box">
                                <h2>{{infrastructure2_title}}</h2>
                                <div data-item="infrastructure2" style="height:400px"></div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Poverty-->
                    <section data-dashboard="poverty">
                        <div class="column">
                            <div class="col-xs-12">
                                <div class="z-depth-1 hoverable dash-box">
                                    <h2>{{poverty1_title}}</h2>
                                    <div data-item="poverty1" style="height:400px"></div>
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="col-xs-12">
                                <div class="z-depth-1 hoverable dash-box">
                                    <div data-item="poverty2" style="height:400px"></div>
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="col-xs-12">
                                <div class="z-depth-1 hoverable dash-box">
                                    <div data-item="poverty3" style="height:400px"></div>
                                </div>
                            </div>
                        </div>
                    </section>
</div>