<div class="row uneca-home-container">
    <div class="col-sm-12">
        <div class="obj-box">

            <div id="home-charts-tab">
        <!-- Nav tabs-->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a data-id="first" href="#gdp_ppp" data-section="gdp_ppp" role="tab"
                                                      data-toggle="tab">{{gdp_ppp}}</a></li>
            <li role="presentation"><a data-id="second" href="#gdp_capita" data-section="gdp_capita" role="tab"
                                       data-toggle="tab">{{gdp_capita}}</a></li>
            <li role="presentation"><a data-id="third" href="#gdp_growth" data-section="gdp_growth" role="tab"
                                       data-toggle="tab">{{gdp_growth}}</a></li>
            <li role="presentation"><a data-id="fourth" href="#inflation" data-section="inflation" role="tab"
                                       data-toggle="tab">{{inflation}}</a></li>
            <li role="presentation"><a data-id="fifth" href="#investment" data-section="investment" role="tab"
                                       data-toggle="tab">{{investment}}</a></li>
            <li role="presentation"><a data-id="sixth" href="#export_growth" data-section="export_growth" role="tab"
                                       data-toggle="tab">{{export_growth}}</a></li>
            <li role="presentation"><a data-id="seventh" href="#fdi" data-section="fdi" role="tab"
                                       data-toggle="tab">{{fdi}}</a></li>
             <li role="presentation"><a data-id="eighth" href="#fdi" data-section="life_expectancy" role="tab"
                                       data-toggle="tab">{{life_expectancy}}</a></li>

        </ul>

        <!-- Dashboard Content -->
        <div class="tab-content">
            <div id="dashboard-content"></div>
        </div>
    </div>
    </div>
        </div>
    </div>
</div>