<div>

    <section data-dashboard="resume">

        <div class="row">
            <div class="col-md-6">

                <h1 class="info-title">{{ summary_info }}</h1>

                <div data-item="country-map-container" id="country-map-container" style="	height: 400px; width: 100%;"></div>

            </div>
            <div class="col-md-6">


                    <h1 class="info-title">{{ summary_info }}</h1>

                    <ul class="main-information list-unstyled">

                        <li>
                            <h4 class="label">
                                {{capital_city_header}}
                            </h4>

                            <p>{{ capital_city }}</p>
                        </li>

                        <li>
                            <h4 class="label">
                                {{GAUL_code_text}}
                            </h4>

                            <p>{{ gaul_code }}</p>
                        </li>

                        <li>
                            <h4 class="label">
                                {{area_sq}}
                            </h4>

                            <p>{{ area }}</p>
                        </li>

                        <li>
                            <h4 class="label">
                                {{currency_label}}
                            </h4>

                            <p>{{ currency }}</p>
                        </li>


                    </ul>


            </div>

        </div>

    </section>

    <section data-dashboard="population">

        <div class="row">
            <div class="col-xs-12">
                <h2>{{population1_title}}</h2>
                <div data-item="population-1"></div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2>{{population2_title}}</h2>
                <div data-item="population-2"></div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2>{{population3_title}}</h2>
                <div data-item="population-3"></div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2>{{population4_title}}</h2>
                <div data-item="population-4"></div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2>{{population5_title}}</h2>
                <div data-item="population-5"></div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2>{{population6_title}}</h2>
                <div data-item="population-6"></div>

            </div>
        </div>


        <!--



                <div class="row">
                    <div class="col-xs-12">
                        <h1>Population pyramid</h1>

                        <div id="population-6"></div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <h1>Urbanization rate</h1>

                        <div id="population-7"></div>
                    </div>
                </div>-->


    </section>

    <section data-dashboard="education">

        <div class="row">
            <div class="col-xs-12">
                <h2>{{edu1_title}}</h2>
                <div data-item="edu_1"></div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <h2>{{edu2_title}}</h2>
                <div data-item="edu_2"></div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <h2>{{edu3_title}}</h2>
                <div data-item="edu_3"></div>

            </div>
        </div>


    </section>

    <section data-dashboard="health">

        <div class="row">
            <div class="col-xs-12">
                <h2>{{health1_title}}</h2>
                <div data-item="health-1"></div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2>{{health2_title}}</h2>
                <div data-item="health-2"></div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2>{{health3_title}}</h2>
                <div data-item="health-3"></div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2>{{health4_title}}</h2>
                <div data-item="health-4"></div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2>{{health5_title}}</h2>
                <div data-item="health-5"></div>

            </div>
        </div>
    </section>


    <section data-dashboard="labour">


        <div class="row">
            <div class="col-xs-12">
                <h1>{{labour1_title}}</h1>

                <div data-item="labour-1"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <h1>{{labour2_title}}</h1>

                <div data-item="labour-2"></div>
            </div>

        </div>


        <div class="row">
            <div class="col-xs-12">
                <h1>{{labour3_title}}</h1>

                <div data-item="labour-3"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2>{{labour4_title}}</h2>
                <div data-item="labour-4"></div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <h2>{{labour5_title}}</h2>
                <div data-item="labour-5"></div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2>{{labour6_title}}</h2>
                <div data-item="labour-6"></div>

            </div>
        </div>


    </section>


    <!-- Economic statistics-->


    <section data-dashboard="gdp_constant">

    </section>


    <section data-dashboard="gdp_current">

    </section>

    <section data-dashboard="monetary_statistics">


        <div class="row">
            <div class="col-xs-12">
                <h1>{{monetary1_title}}</h1>

                <div data-item="monetary-1"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <h1>{{monetary2_title}}</h1>

                <div data-item="monetary-2"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <h1>{{monetary3_title}}</h1>

                <div data-item="monetary-3"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <h1>{{monetary4_title}}</h1>

                <div data-item="monetary-4"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <h1>{{monetary5_title}}</h1>

                <div data-item="monetary-5"></div>
            </div>
        </div>

    </section>

    <section data-dashboard="public_finance">

        <div class="row">
            <div class="col-xs-12">
                <h1>{{finance1_title}} </h1>

                <div data-item="finance-1"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>{{finance2_title}}</h1>

                <div data-item="finance-2"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>{{finance3_title}}</h1>

                <div data-item="finance-3"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>{{finance4_title}}</h1>

                <div data-item="finance-4"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>{{finance5_title}}</h1>

                <div data-item="finance-5"></div>
            </div>
        </div>

    </section>

    <section data-dashboard="balance_of_payments">

        <div class="row">
            <div class="col-xs-12">
                <h2>{{BOP1_title}}</h2>
                <div data-item="BOP-1"></div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <h2>{{BOP2_title}}</h2>
                <div data-item="BOP-2"></div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2>{{BOP3_title}}</h2>
                <div data-item="BOP-3"></div>

            </div>
        </div>

    </section>


    <section data-dashboard="energy">

        <div class="row">
            <div class="col-xs-12">
                <h1>{{energy1_title}}</h1>

                <div data-item="energy-1"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>{{energy2_title}}</h1>

                <div data-item="energy-2"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>{{energy3_title}}</h1>

                <div data-item="energy-3"></div>
            </div>
        </div>


    </section>


    <section data-dashboard="poverty">
        <div class="column">
            <div class="col-xs-6">
                <h1>{{poverty1_title}}</h1>

                <div data-item="poverty-1"></div>
            </div>
        </div>

        <div class="column">
            <div class="col-xs-6">
                <h1>{{poverty2_title}}</h1>

                <div data-item="poverty-2"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>{{poverty3_title}}</h1>

                <div data-item="poverty-3"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>{{poverty4_title}}</h1>

                <div data-item="poverty-4"></div>
            </div>
        </div>


    </section>


    <section data-dashboard="gdp">


        <div class="row">
            <div class="col-xs-12">
                <h1>{{gdp1_title}}</h1>

                <div data-item="gdp-1"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <h1>{{gdp2_title}}</h1>

                <div data-item="gdp-2"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>{{gdp3_title}}</h1>

                <div data-item="gdp-3"></div>
            </div>
        </div>

    </section>


    <section data-dashboard="expenditure_gdp">
        <h1>{{expenditure1_title}}</h1>
        <div class="row">
            <div class="column">
                <div class="col-xs-6">
                    <div data-item="expenditure-1"></div>

                    <p>{{current_title}}</p>
                </div>
            </div>


            <div class="column">
                <div class="col-xs-6">

                    <div data-item="expenditure-5"></div>
                    <p>{{constant_title}}</p>
                </div>
            </div>
        </div>


        <h1>{{expenditure2_title}}</h1>
        <div class="row">
            <div class="column">
                <div class="col-xs-6">


                    <div data-item="expenditure-2"></div>

                    <p>{{current_title}}</p>
                </div>
            </div>

            <div class="column">
                <div class="col-xs-6">


                    <div data-item="expenditure-6"></div>
                    <p>{{constant_title}}</p>
                </div>
            </div>
        </div>


        <h1>{{expenditure3_title}}</h1>
        <div class="row">


            <div class="column">
                <div class="col-xs-6">


                    <div data-item="expenditure-3"></div>

                    <p>{{current_title}}</p>
                </div>
            </div>
            <div class="column">
                <div class="col-xs-6">

                    <div data-item="expenditure-7"></div>
                    <p>{{constant_title}}</p>
                </div>
            </div>

        </div>


        <h1>{{expenditure4_title}}</h1>
        <div class="row">
            <div class="column">
                <div class="col-xs-6">

                    <div data-item="expenditure-4"></div>
                    <p>{{current_title}}</p>
                </div>
            </div>
            <div class="column">
                <div class="col-xs-6">
                    <div data-item="expenditure-8"></div>
                    <p>{{constant_title}}</p>
                </div>
            </div>
        </div>


    </section>


    <section data-dashboard="imports">

    </section>


    <section data-dashboard="financial_flows">

        <div class="row">
            <div class="col-xs-12">
                <h1>{{financial_flows1_title}}</h1>

                <div data-item="financial_flows-1"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>{{financial_flows2_title}}</h1>

                <div data-item="financial_flows-2"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>{{financial_flows3_title}}</h1>

                <div class="obj-box">
                    <div data-item="financial_flows-3" style="height:400px"></div>
                    <p>{{financial_flows_note1}}</p>
                </div>


            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>{{financial_flows4_title}}</h1>

                <div data-item="financial_flows-4" style="height:400px"></div>
            </div>
        </div>

        <!--<div class="row">-->
            <!--<div class="col-xs-12">-->
                <!--<h1>{{financial_flows5_title}}</h1>-->

                <!--<div class="obj-box">-->
                    <!--<div data-item="financial_flows-5"></div>-->
                    <!--<p>{{financial_flows_note2}}</p>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->

        <!--<div class="row">-->
            <!--<div class="col-xs-12">-->
                <!--<h1>{{financial_flows6_title}}</h1>-->

                <!--<div data-item="financial_flows-6"></div>-->
            <!--</div>-->
        <!--</div>-->

    </section>

    <section data-dashboard="debt">

        <div class="row">
            <div class="col-xs-12">
                <h1>{{debt1_title}}</h1>

                <div data-item="debt-1"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>{{debt2_title}}</h1>

                <div data-item="debt-2"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>{{debt3_title}}</h1>

                <div data-item="debt-3"></div>
            </div>
        </div>

    </section>

    <!-- Environment and multi-Domain statistics-->
    <section data-dashboard="infrastructure">

        <div class="row">
            <div class="col-xs-12">
                <h1>Roads, total network</h1>

                <div id="infrastructure-1"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Paved roads, percentage of total network</h1>

                <div id="infrastructure-2"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Mobile-cellular and fixed-telephone subscriptions</h1>

                <div id="infrastructure-3"></div>
            </div>
        </div>

    </section>

    <section data-dashboard="inflation">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{inflation1_title}}</h1>

                <div data-item="inflation-1"></div>
            </div>
        </div>



        <div class="row">
            <div class="col-xs-12">
                <h1>{{inflation2_title}}</h1>

                <div data-item="inflation-2"></div>
            </div>
        </div>



        <div class="row">
            <div class="col-xs-12">
                <h1>{{inflation3_title}}</h1>

                <div data-item="inflation-3"></div>
            </div>
        </div>


    </section>

    <section data-dashboard="tourism">

        <div class="row">
            <div class="col-xs-12">
                <h1>{{tourism1_title}}</h1>

                <div id="tourism-1"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>{{tourism2_title}}</h1>

                <div id="tourism-2"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>{{tourism3_title}}</h1>

                <div id="tourism-3"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>{{tourism4_title}}</h1>

                <div id="tourism-4"></div>
            </div>
        </div>

    </section>

    <section data-dashboard="agriculture_production">

        <div class="row">
            <div class="col-xs-12">
                <h1>Agriculture production</h1>

                <div id="agriculture_production-1"></div>
            </div>
        </div>


    </section>

    <section data-dashboard="mining_production">

        <div class="row">
            <div class="col-xs-12">
                <h1>Mining production</h1>

                <div id="mining_production-1"></div>
            </div>
        </div>

    </section>

</div>